openapi: 3.0.0
info:
  title: Konnect AI Gateway
  version: 0.0.0
  description: The API for configuring AI Gateways in Konnect.
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
servers:
  - url: 'https://us.api.konghq.com/v1'
    description: United-States Production region
  - url: 'https://eu.api.konghq.com/v1'
    description: Europe Production region
  - url: 'https://au.api.konghq.com/v1'
    description: Australia Production region
  - url: 'https://me.api.konghq.com/v1'
    description: Middle-East Production region
  - url: 'https://in.api.konghq.com/v1'
    description: India Production region
  - url: 'https://sg.api.konghq.com/v1'
    description: Singapore Production region
paths:
  /ai-gateways:
    get:
      operationId: list-ai-gateways
      summary: List AI Gateways
      description: Returns a list of AI Gateways in the organization.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewaysResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
    post:
      operationId: create-ai-gateway
      summary: Create an AI Gateway
      description: Creates a new AI Gateway in the organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayRequest'
            examples:
              Example Request Body:
                $ref: '#/components/examples/CreateAIGatewayRequestExample'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
  '/ai-gateways/{gatewayId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: get-ai-gateway
      summary: Get an AI Gateway
      description: Returns the details of a specific AI Gateway.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
    put:
      operationId: update-ai-gateway
      summary: Update an AI Gateway
      description: Updates the configuration of an existing AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayRequest'
            examples:
              Example Request Body:
                $ref: '#/components/examples/UpdateAIGatewayRequestExample'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
    delete:
      operationId: delete-ai-gateway
      summary: Delete an AI Gateway
      description: Deletes an existing AI Gateway.
      responses:
        '204':
          description: AI Gateway deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
  '/ai-gateways/{gatewayId}/data-plane-certificates':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-data-plane-certificates
      summary: List AI Gateway DataPlane Certificates
      description: >-
        Returns a list of DataPlane certificates that are associated to this AI
        Gateway. A DataPlane certificate allows DataPlanes configured with the
        certificate and corresponding private key to establish connection with
        this AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayDataPlaneCertificatesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway DataPlane Certificates
    post:
      operationId: create-ai-gateway-data-plane-certificate
      summary: Create New AI Gateway DataPlane Certificate
      description: >-
        Create a new DataPlane Certificate for this AI Gateway. A DataPlane
        certificate allows DataPlanes configured with the certificate and
        corresponding private key to establish connection with this AI Gateway.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayDataPlaneCertificateRequest'
            examples:
              Example Request Body:
                $ref: '#/components/examples/AIGatewayDataplaneCertificateExample'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayDataPlaneCertificateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway DataPlane Certificates
  '/ai-gateways/{gatewayId}/data-plane-certificates/{certificateId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayDataPlaneCertificateId'
    get:
      operationId: get-ai-gateway-data-plane-certificate
      summary: Get a DataPlane Certificate
      description: >-
        Retrieve a DataPlane certificate associated to this AI Gateway. A
        DataPlane certificate allows DataPlanes configured with the certificate
        and corresponding private key to establish connection with this AI
        Gateway.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayDataPlaneCertificateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway DataPlane Certificates
    delete:
      operationId: delete-ai-gateway-data-plane-certificate
      summary: Delete AI Gateway DataPlane Certificate
      description: >-
        Remove a DataPlane client certificate associated to this AI Gateway.
        Removing a DataPlane certificate would invalidate any DataPlanes
        currently connected to this AI Gateway using this certificate.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway DataPlane Certificates
  '/ai-gateways/{gatewayId}/nodes':
    get:
      operationId: list-ai-gateway-nodes
      summary: List Nodes
      description: Returns a list of nodes associated with the specified AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayDataPlaneNodesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Nodes
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
  '/ai-gateways/{gatewayId}/nodes/{dataPlaneNodeId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayDataPlaneNodeId'
    get:
      operationId: get-ai-gateway-node
      summary: Get a Node
      description: >-
        Returns information about a specific node associated with the AI
        Gateway.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayDataPlaneNodeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Nodes
  '/ai-gateways/{gatewayId}/vaults':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-vaults
      summary: List AI Gateway Vaults
      description: Returns a list of vaults associated with the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayVaultsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
    post:
      operationId: create-ai-gateway-vault
      summary: Create an AI Gateway Vault
      description: Registers a new vault for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayVaultRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayVaultResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
  '/ai-gateways/{gatewayId}/vaults/{vaultId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayVaultId'
    get:
      operationId: get-ai-gateway-vault
      summary: Get an AI Gateway Vault
      description: Returns the details of a specific AI Gateway vault.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayVaultResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
    put:
      operationId: update-ai-gateway-vault
      summary: Update an AI Gateway Vault
      description: Updates the configuration of an existing AI Gateway vault.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayVaultRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayVaultResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
    delete:
      operationId: delete-ai-gateway-vault
      summary: Delete an AI Gateway Vault
      description: Removes a specific AI Gateway vault.
      responses:
        '204':
          description: Vault deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
  '/ai-gateways/{gatewayId}/policies':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-policies
      summary: List AI Gateway Policies
      description: Returns a list of policies configured for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayPoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
    post:
      operationId: create-ai-gateway-policy
      summary: Create an AI Gateway Policy
      description: Registers a new policy for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayPolicyRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayPolicyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
  '/ai-gateways/{gatewayId}/policies/{policyId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayPolicyId'
    get:
      operationId: get-ai-gateway-policy
      summary: Get an AI Gateway Policy
      description: Returns the details of a specific AI Gateway policy.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayPolicyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
    put:
      operationId: update-ai-gateway-policy
      summary: Update an AI Gateway Policy
      description: Updates the configuration of an existing AI Gateway policy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayPolicyRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayPolicyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
    delete:
      operationId: delete-ai-gateway-policy
      summary: Delete an AI Gateway Policy
      description: Removes a specific AI Gateway policy.
      responses:
        '204':
          description: Policy deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
  '/ai-gateways/{gatewayId}/models':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-models
      summary: List AI Gateway Models
      description: Returns a list of all models registered in the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayModelsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
    post:
      operationId: create-ai-gateway-model
      summary: Create an AI Gateway Model
      description: 'Registers a new model with routing, capabilities, and target backends.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayModelRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayModelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
  '/ai-gateways/{gatewayId}/models/{modelId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayModelId'
    get:
      operationId: get-ai-gateway-model
      summary: Get an AI Gateway Model
      description: Returns the details of a specific AI Gateway model.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayModelResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
    put:
      operationId: update-ai-gateway-model
      summary: Update an AI Gateway Model
      description: Updates the configuration of an existing AI Gateway model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayModelRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayModelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
    delete:
      operationId: delete-ai-gateway-model
      summary: Delete an AI Gateway Model
      description: Removes a specific AI Gateway model.
      responses:
        '204':
          description: Model deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
  '/ai-gateways/{gatewayId}/agents':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-agents
      summary: List AI Gateway Agents
      description: Returns a list of all agents registered in the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayAgentsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
    post:
      operationId: create-ai-gateway-agent
      summary: Create an AI Gateway Agent
      description: Creates a new agent for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayAgentRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayAgentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
  '/ai-gateways/{gatewayId}/agents/{agentId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayAgentId'
    get:
      operationId: get-ai-gateway-agent
      summary: Get an AI Gateway Agent
      description: Returns the details of a specific AI Gateway agent.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayAgentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
    put:
      operationId: update-ai-gateway-agent
      summary: Update an AI Gateway Agent
      description: Updates the configuration of an existing AI Gateway agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayAgentRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayAgentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
    delete:
      operationId: delete-ai-gateway-agent
      summary: Delete an AI Gateway Agent
      description: Removes a specific AI Gateway agent.
      responses:
        '204':
          description: Agent deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
  '/ai-gateways/{gatewayId}/consumers':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-consumers
      summary: List AI Gateway Consumers
      description: Returns a list of all consumers for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConsumersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    post:
      operationId: create-ai-gateway-consumer
      summary: Create an AI Gateway Consumer
      description: Creates a new consumer for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayConsumerRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayConsumerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
  '/ai-gateways/{gatewayId}/consumers/{consumerId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerId'
    get:
      operationId: get-ai-gateway-consumer
      summary: Get an AI Gateway Consumer
      description: Returns the details of a specific AI Gateway consumer.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayConsumerResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    put:
      operationId: update-ai-gateway-consumer
      summary: Update an AI Gateway Consumer
      description: Updates the configuration of an existing AI Gateway consumer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayConsumerRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayConsumerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    delete:
      operationId: delete-ai-gateway-consumer
      summary: Delete an AI Gateway Consumer
      description: Removes a specific AI Gateway consumer.
      responses:
        '204':
          description: Consumer deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
  '/ai-gateways/{gatewayId}/consumers/{consumerId}/credentials':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerId'
    get:
      operationId: list-ai-gateway-consumer-credentials
      summary: List AI Gateway Consumer Credentials
      description: Returns a list of all credentials for an AI Gateway consumer.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConsumerCredentialsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    post:
      operationId: create-ai-gateway-consumer-credential
      summary: Create an AI Gateway Consumer Credential
      description: Creates a new credential for an AI Gateway consumer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayConsumerCredentialRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayConsumerCredentialResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
  '/ai-gateways/{gatewayId}/consumers/{consumerId}/credentials/{credentialId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerId'
      - $ref: '#/components/parameters/AIGatewayConsumerCredentialId'
    get:
      operationId: get-ai-gateway-consumer-credential
      summary: Get an AI Gateway Consumer Credential
      description: Returns the details of a specific credential for an AI Gateway consumer.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayConsumerCredentialResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    delete:
      operationId: delete-ai-gateway-consumer-credential
      summary: Delete an AI Gateway Consumer Credential
      description: Removes a specific credential for an AI Gateway consumer.
      responses:
        '204':
          description: Credential deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
  '/ai-gateways/{gatewayId}/consumer-groups':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-consumer-groups
      summary: List AI Gateway Consumer Groups
      description: Returns a list of all consumer groups for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConsumerGroupsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
    post:
      operationId: create-ai-gateway-consumer-group
      summary: Create an AI Gateway Consumer Group
      description: Creates a new Consumer Group for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayConsumerGroupRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayConsumerGroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
  '/ai-gateways/{gatewayId}/consumer-groups/{consumerGroupId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerGroupId'
    get:
      operationId: get-ai-gateway-consumer-group
      summary: Get an AI Gateway Consumer Group
      description: Returns the details of a specific AI Gateway Consumer Group.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayConsumerGroupResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
    put:
      operationId: update-ai-gateway-consumer-group
      summary: Update an AI Gateway Consumer Group
      description: Updates the configuration of an existing AI Gateway Consumer Group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayConsumerGroupRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayConsumerGroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
    delete:
      operationId: delete-ai-gateway-consumer-group
      summary: Delete an AI Gateway Consumer Group
      description: Removes a specific AI Gateway Consumer Group.
      responses:
        '204':
          description: Consumer Group deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
  '/ai-gateways/{gatewayId}/mcp-servers':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-mcp-servers
      summary: List MCP Servers
      description: Returns a list of MCP Servers configured for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayMCPServersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
    post:
      operationId: create-ai-gateway-mcp-server
      summary: Create an MCP Server
      description: Registers a new MCP Server for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayMCPServerRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayMCPServerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
  '/ai-gateways/{gatewayId}/mcp-servers/{mcpServerId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayMcpServerId'
    get:
      operationId: get-ai-gateway-mcp-server
      summary: Get an MCP Server
      description: Returns the details of a specific MCP Server.
      responses:
        '200':
          $ref: '#/components/responses/GetMCPServerResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
    put:
      operationId: update-ai-gateway-mcp-server
      summary: Update an MCP Server
      description: Updates the configuration of an existing MCP Server.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayMCPServerRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayMCPServerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
    delete:
      operationId: delete-ai-gateway-mcp-server
      summary: Delete an MCP Server
      description: Removes a specific MCP Server from the AI Gateway.
      responses:
        '204':
          description: MCP Server deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
  '/ai-gateways/{gatewayId}/providers':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-providers
      summary: List AI Gateway Providers
      description: Returns a list of providers configured for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayProvidersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Providers
    post:
      operationId: create-ai-gateway-provider
      summary: Create an AI Gateway Provider
      description: Registers a new provider for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayProviderRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Providers
  '/ai-gateways/{gatewayId}/providers/{providerId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayProviderId'
    get:
      operationId: get-ai-gateway-provider
      summary: Get an AI Gateway Provider
      description: Returns the details of a specific AI Gateway provider.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayProviderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Providers
    put:
      operationId: update-ai-gateway-provider
      summary: Update an AI Gateway Provider
      description: Updates the configuration of an existing AI Gateway provider.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayProviderRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Providers
    delete:
      operationId: delete-ai-gateway-provider
      summary: Delete an AI Gateway Provider
      description: Removes a specific AI Gateway provider.
      responses:
        '204':
          description: Provider deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Providers
components:
  parameters:
    AIGatewayAgentId:
      name: agentId
      in: path
      required: true
      description: The unique ID of the AI Gateway agent.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayConsumerCredentialId:
      name: credentialId
      in: path
      required: true
      description: The unique ID of the AI Gateway consumer credential.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayConsumerGroupId:
      name: consumerGroupId
      in: path
      required: true
      description: The unique ID of the AI Gateway Consumer Group.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayConsumerId:
      name: consumerId
      in: path
      required: true
      description: The unique ID of the AI Gateway consumer.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayDataPlaneCertificateId:
      name: certificateId
      in: path
      required: true
      description: The unique ID of the DataPlane Certificate.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayDataPlaneNodeId:
      name: dataPlaneNodeId
      in: path
      required: true
      description: The unique ID of the AI Gateway DataPlane Node.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayId:
      name: gatewayId
      in: path
      required: true
      description: The unique ID of the AI Gateway.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayMcpServerId:
      name: mcpServerId
      in: path
      required: true
      description: The unique ID of the MCP Server.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayModelId:
      name: modelId
      in: path
      required: true
      description: The unique ID of the AI Gateway model.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayPolicyId:
      name: policyId
      in: path
      required: true
      description: The unique ID of the AI Gateway policy.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayProviderId:
      name: providerId
      in: path
      required: true
      description: The unique ID of the AI Gateway provider.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayVaultId:
      name: vaultId
      in: path
      required: true
      description: The unique ID of the AI Gateway Vault.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    PageAfter:
      name: 'page[after]'
      description: >-
        Request the next page of data, starting with the item after this
        parameter.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: string
        example: ewogICJpZCI6ICJoZWxsbyB3b3JsZCIKfQ
    PageNumber:
      name: 'page[number]'
      description: Determines which page of the entities to retrieve.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 1
    PageSize:
      name: 'page[size]'
      description: >-
        The maximum number of items to include per page. The last page of a
        collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
  schemas:
    CreateAIGatewayRequest:
      type: object
      properties:
        name:
          description: The name of the AI Gateway.
          type: string
          example: My AI Gateway
        description:
          description: The description of the AI Gateway.
          type: string
          example: An AI Gateway for my organization.
        labels:
          $ref: '#/components/schemas/PublicLabels'
      additionalProperties: true
      required:
        - name
    UpdateAIGatewayRequest:
      type: object
      properties:
        name:
          description: The name of the AI Gateway.
          type: string
          example: My AI Gateway
        description:
          description: The description of the AI Gateway.
          type: string
          example: An AI Gateway for my organization.
        labels:
          $ref: '#/components/schemas/PublicLabels'
      additionalProperties: true
      required:
        - name
    AIGateway:
      type: object
      properties:
        name:
          description: The name of the AI Gateway.
          type: string
          example: My AI Gateway
        description:
          description: The description of the AI Gateway.
          type: string
          example: An AI Gateway for my organization.
        labels:
          $ref: '#/components/schemas/PublicLabels'
        id:
          $ref: '#/components/schemas/UUID'
        endpoints:
          description: Object containing AI Gateway access endpoints.
          type: object
          additionalProperties: false
          properties:
            configuration:
              description: Configuration Endpoint.
              type: string
              format: url
              example: 'https://acfe5f253f.cp.konghq.com'
              readOnly: true
            telemetry:
              description: Telemetry Endpoint.
              type: string
              format: url
              example: 'https://acfe5f253f.tp0.konghq.com'
              readOnly: true
          required:
            - configuration
            - telemetry
        config_hash:
          description: >
            The hash of the latest configuration for the gateway. Every change
            to an entity

            under this gateway will result in a new config_hash being generated.

            The config hash can be used to verify if the config hash of an AI
            Gateway

            node is up to date with the AI Gateway. The config hash will be the
            same if they are in sync.
          type: string
          readOnly: true
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: true
      required:
        - name
        - id
        - endpoints
        - created_at
        - updated_at
    CreateAIGatewayDataPlaneCertificateRequest:
      type: object
      properties:
        cert:
          description: JSON escaped string of the certificate.
          type: string
        title:
          description: A human-readable name for the certificate.
          type: string
        description:
          description: An optional description of the certificate.
          type: string
      additionalProperties: false
      required:
        - cert
        - title
    AIGatewayDataPlaneClientCertificate:
      type: object
      properties:
        cert:
          description: JSON escaped string of the certificate.
          type: string
        title:
          description: A human-readable name for the certificate.
          type: string
        description:
          description: An optional description of the certificate.
          type: string
        id:
          $ref: '#/components/schemas/UUID'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
        - cert
        - title
        - id
        - created_at
        - updated_at
    AIGatewayDataPlaneNode:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        version:
          type: string
        hostname:
          type: string
        last_ping:
          type: integer
        type:
          type: string
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        config_hash:
          description: The hash of the configuration applied by the node.
          type: string
          readOnly: true
        compatibility_status:
          type: object
          additionalProperties: false
          properties:
            state:
              type: string
            issues:
              type: array
              items:
                $ref: '#/components/schemas/AIGatewayDataPlaneNodeCompatibilityIssue'
      additionalProperties: false
      required:
        - id
        - version
        - hostname
        - last_ping
        - type
        - created_at
        - updated_at
        - compatibility_status
    AIGatewayDataPlaneNodeCompatibilityIssue:
      type: object
      properties:
        code:
          description: The compatibility issue code.
          type: string
        severity:
          description: The severity of the issue.
          type: string
        description:
          description: The description of the issue.
          type: string
        resolution:
          description: Steps required to take in order to resolve the issue.
          type: string
        affected_resources:
          description: Details of the resources affected by the issue.
          type: array
          items:
            $ref: >-
              #/components/schemas/AIGatewayDataPlaneNodeCompatibilityIssueAffectedResource
        documentation_url:
          description: Doc URL for the compatibility issue.
          type: string
      additionalProperties: false
      required:
        - code
        - severity
        - description
        - resolution
        - affected_resources
        - documentation_url
    AIGatewayDataPlaneNodeCompatibilityIssueAffectedResource:
      type: object
      properties:
        id:
          description: ID of the affected resource.
          type: string
        type:
          description: Type of the affected resource.
          type: string
        parent_code:
          description: Parent Issue Code.
          type: string
        details:
          description: Details of the affected resource.
          type: array
          items:
            type: string
      additionalProperties: false
      required:
        - id
        - type
        - parent_code
        - details
    AIGatewayModelModel:
      description: >-
        Configuration for proxying synchronous requests/responses to/from an AI
        Gateway model using generative APIs.
      type: object
      properties:
        display_name:
          description: The display name for this model instance.
          type: string
          example: My GPT 5 model
        name:
          description: >-
            A user-defined unique identifier for this model, used as a stable
            human-readable reference.
          type: string
          example: my-gpt-5-model
        enabled:
          description: Whether the model is enabled.
          type: boolean
          example: true
          default: true
        acls:
          description: >-
            Access control rules for allowing or denying Consumers, Consumer
            Groups, or Authenticated Groups to this model.
          allOf:
            - $ref: '#/components/schemas/AIGatewayACLS'
        config:
          $ref: '#/components/schemas/AIGatewayModelConfig'
        formats:
          description: List of request/response formats supported by this model.
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayModelFormat'
          maxItems: 1
          minItems: 1
        targets:
          description: One or more backend models that this model entry routes to.
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayTargetModel'
        policies:
          $ref: '#/components/schemas/AIGatewayPolicyReferences'
        labels:
          $ref: '#/components/schemas/PublicLabels'
        managed_by:
          $ref: '#/components/schemas/ManagedBy'
        type:
          type: string
          enum:
            - model
        capabilities:
          description: List of AI capabilities enabled for this model.
          type: array
          items:
            type: string
            enum:
              - generate
              - agentic
              - realtime
              - embeddings
              - image
              - audio
              - video
              - rerank
      additionalProperties: false
      required:
        - display_name
        - name
        - formats
        - acls
        - config
        - targets
        - policies
        - type
        - capabilities
    AIGatewayModelAPI:
      description: >-
        Configuration for proxying asynchronous requests/responses to/from an AI
        Gateway model using the files and batches APIs.
      type: object
      properties:
        display_name:
          description: The display name for this model instance.
          type: string
          example: My GPT 5 model
        name:
          description: >-
            A user-defined unique identifier for this model, used as a stable
            human-readable reference.
          type: string
          example: my-gpt-5-model
        enabled:
          description: Whether the model is enabled.
          type: boolean
          example: true
          default: true
        acls:
          description: >-
            Access control rules for allowing or denying Consumers, Consumer
            Groups, or Authenticated Groups to this model.
          allOf:
            - $ref: '#/components/schemas/AIGatewayACLS'
        config:
          $ref: '#/components/schemas/AIGatewayModelConfig'
        formats:
          description: List of request/response formats supported by this model.
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayModelFormat'
          maxItems: 1
          minItems: 1
        targets:
          description: One or more backend models that this model entry routes to.
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayTargetModel'
        policies:
          $ref: '#/components/schemas/AIGatewayPolicyReferences'
        labels:
          $ref: '#/components/schemas/PublicLabels'
        managed_by:
          $ref: '#/components/schemas/ManagedBy'
        type:
          type: string
          enum:
            - api
        capabilities:
          description: List of AI capabilities enabled for this API model.
          type: array
          items:
            type: string
            enum:
              - batches
              - files
      additionalProperties: false
      required:
        - display_name
        - name
        - formats
        - acls
        - config
        - targets
        - policies
        - type
        - capabilities
    CreateAIGatewayModelRequest:
      description: Configuration for an AI Gateway model.
      discriminator:
        propertyName: type
        mapping:
          api: '#/components/schemas/AIGatewayModelAPI'
          model: '#/components/schemas/AIGatewayModelModel'
      oneOf:
        - $ref: '#/components/schemas/AIGatewayModelAPI'
        - $ref: '#/components/schemas/AIGatewayModelModel'
    UpdateAIGatewayModelRequest:
      description: Configuration for an AI Gateway model.
      discriminator:
        propertyName: type
        mapping:
          api: '#/components/schemas/AIGatewayModelAPI'
          model: '#/components/schemas/AIGatewayModelModel'
      oneOf:
        - $ref: '#/components/schemas/AIGatewayModelAPI'
        - $ref: '#/components/schemas/AIGatewayModelModel'
    AIGatewayModel:
      description: Configuration for an AI Gateway model.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      discriminator:
        propertyName: type
        mapping:
          api: '#/components/schemas/AIGatewayModelAPI'
          model: '#/components/schemas/AIGatewayModelModel'
      oneOf:
        - $ref: '#/components/schemas/AIGatewayModelAPI'
        - $ref: '#/components/schemas/AIGatewayModelModel'
      required:
        - id
        - created_at
        - updated_at
    AIGatewayModelConfig:
      description: 'Routing, logging, and load balancing configuration for the model.'
      type: object
      properties:
        route:
          $ref: '#/components/schemas/AIGatewayRouteConfig'
        logging:
          description: Configuration for AI Gateway logging.
          type: object
          additionalProperties: false
          properties:
            payloads:
              type: boolean
              default: false
            statistics:
              type: boolean
              default: true
        response_streaming:
          type: string
          default: allow
          enum:
            - allow
            - always
            - deny
        max_request_body_size:
          description: Maximum size of request body to parse. Set to 0 for unlimited.
          type: integer
          default: 8388608
        model:
          type: object
          additionalProperties: false
          properties:
            alias:
              description: >-
                An optional alias for the model, used to select the target
                virtual model when passed in the "model" parameter of the
                request body.
              type: string
            name_header:
              description: >-
                Display the model name selected in the X-Kong-LLM-Model response
                header
              type: boolean
              default: true
        balancer:
          $ref: '#/components/schemas/AIGatewayModelBalancerConfig'
      additionalProperties: false
      required:
        - route
        - model
    AIGatewayModelBalancerConfig:
      description: >-
        Configuration for a model's load balancer when multiple target models
        are configured.
      discriminator:
        propertyName: algorithm
        mapping:
          consistent-hashing: '#/components/schemas/AIGatewayModelBalancerConsistentHashingConfig'
          least-connections: '#/components/schemas/AIGatewayModelBalancerLeastConnectionsConfig'
          lowest-latency: '#/components/schemas/AIGatewayModelBalancerLowestLatencyConfig'
          lowest-usage: '#/components/schemas/AIGatewayModelBalancerLowestUsageConfig'
          priority: '#/components/schemas/AIGatewayModelBalancerPriorityConfig'
          round-robin: '#/components/schemas/AIGatewayModelBalancerRoundRobinConfig'
          semantic: '#/components/schemas/AIGatewayModelBalancerSemanticConfig'
      oneOf:
        - $ref: '#/components/schemas/AIGatewayModelBalancerConsistentHashingConfig'
        - $ref: '#/components/schemas/AIGatewayModelBalancerLeastConnectionsConfig'
        - $ref: '#/components/schemas/AIGatewayModelBalancerLowestLatencyConfig'
        - $ref: '#/components/schemas/AIGatewayModelBalancerLowestUsageConfig'
        - $ref: '#/components/schemas/AIGatewayModelBalancerPriorityConfig'
        - $ref: '#/components/schemas/AIGatewayModelBalancerRoundRobinConfig'
        - $ref: '#/components/schemas/AIGatewayModelBalancerSemanticConfig'
    AIGatewayModelBalancerConsistentHashingConfig:
      type: object
      properties:
        connect_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        fail_timeout:
          description: >-
            The period of time (in milliseconds) the target will be considered
            unavailable after the number of unsuccessful attempts reaches
            `max_fails`.
          type: integer
          default: 10000
          maximum: 2147483646
          minimum: 1
        failover_criteria:
          description: >-
            Specifies in which cases an upstream response should be failover to
            the next target. Each option in the array is equivalent to the
            function of
            https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_next_upstream
          type: array
          items:
            type: string
            enum:
              - error
              - http_403
              - http_404
              - http_429
              - http_500
              - http_502
              - http_503
              - http_504
              - invalid_header
              - non_idempotent
              - timeout
          default:
            - error
            - timeout
        max_fails:
          description: >-
            Number of unsuccessful attempts to communicate with a target that
            should occur in the duration defined by `fail_timeout` before the
            target is considered unavailable. The zero value disables the
            circuit breaker. What is considered an unsuccessful attempt is
            defined by `failover_criteria`. Note the cases of `error`, `timeout`
            and `invalid_header` are always considered unsuccessful attempts,
            while the cases of `http_403` and `http_404` are never considered
            unsuccessful attempts.
          type: integer
          default: 0
          maximum: 32767
          minimum: 0
        read_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        retries:
          description: The number of retries to execute upon failure to proxy.
          type: integer
          default: 5
          maximum: 32767
          minimum: 0
        slots:
          description: The number of slots in the load balancer algorithm.
          type: integer
          default: 10000
          maximum: 65536
          minimum: 10
        write_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        algorithm:
          type: string
          enum:
            - consistent-hashing
        hash_on_header:
          description: The header to use for consistent-hashing.
          type: string
          default: X-Kong-LLM-Request-ID
      required:
        - algorithm
    AIGatewayModelBalancerLeastConnectionsConfig:
      type: object
      properties:
        connect_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        fail_timeout:
          description: >-
            The period of time (in milliseconds) the target will be considered
            unavailable after the number of unsuccessful attempts reaches
            `max_fails`.
          type: integer
          default: 10000
          maximum: 2147483646
          minimum: 1
        failover_criteria:
          description: >-
            Specifies in which cases an upstream response should be failover to
            the next target. Each option in the array is equivalent to the
            function of
            https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_next_upstream
          type: array
          items:
            type: string
            enum:
              - error
              - http_403
              - http_404
              - http_429
              - http_500
              - http_502
              - http_503
              - http_504
              - invalid_header
              - non_idempotent
              - timeout
          default:
            - error
            - timeout
        max_fails:
          description: >-
            Number of unsuccessful attempts to communicate with a target that
            should occur in the duration defined by `fail_timeout` before the
            target is considered unavailable. The zero value disables the
            circuit breaker. What is considered an unsuccessful attempt is
            defined by `failover_criteria`. Note the cases of `error`, `timeout`
            and `invalid_header` are always considered unsuccessful attempts,
            while the cases of `http_403` and `http_404` are never considered
            unsuccessful attempts.
          type: integer
          default: 0
          maximum: 32767
          minimum: 0
        read_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        retries:
          description: The number of retries to execute upon failure to proxy.
          type: integer
          default: 5
          maximum: 32767
          minimum: 0
        slots:
          description: The number of slots in the load balancer algorithm.
          type: integer
          default: 10000
          maximum: 65536
          minimum: 10
        write_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        algorithm:
          type: string
          enum:
            - least-connections
      required:
        - algorithm
    AIGatewayModelBalancerLowestLatencyConfig:
      type: object
      properties:
        connect_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        fail_timeout:
          description: >-
            The period of time (in milliseconds) the target will be considered
            unavailable after the number of unsuccessful attempts reaches
            `max_fails`.
          type: integer
          default: 10000
          maximum: 2147483646
          minimum: 1
        failover_criteria:
          description: >-
            Specifies in which cases an upstream response should be failover to
            the next target. Each option in the array is equivalent to the
            function of
            https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_next_upstream
          type: array
          items:
            type: string
            enum:
              - error
              - http_403
              - http_404
              - http_429
              - http_500
              - http_502
              - http_503
              - http_504
              - invalid_header
              - non_idempotent
              - timeout
          default:
            - error
            - timeout
        max_fails:
          description: >-
            Number of unsuccessful attempts to communicate with a target that
            should occur in the duration defined by `fail_timeout` before the
            target is considered unavailable. The zero value disables the
            circuit breaker. What is considered an unsuccessful attempt is
            defined by `failover_criteria`. Note the cases of `error`, `timeout`
            and `invalid_header` are always considered unsuccessful attempts,
            while the cases of `http_403` and `http_404` are never considered
            unsuccessful attempts.
          type: integer
          default: 0
          maximum: 32767
          minimum: 0
        read_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        retries:
          description: The number of retries to execute upon failure to proxy.
          type: integer
          default: 5
          maximum: 32767
          minimum: 0
        slots:
          description: The number of slots in the load balancer algorithm.
          type: integer
          default: 10000
          maximum: 65536
          minimum: 10
        write_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        algorithm:
          type: string
          enum:
            - lowest-latency
        latency_strategy:
          description: >-
            What metrics to use for latency. Available values are: `tpot`
            (time-per-output-token) and `e2e`.
          type: string
          default: tpot
          enum:
            - e2e
            - tpot
      required:
        - algorithm
        - latency_strategy
    AIGatewayModelBalancerLowestUsageConfig:
      type: object
      properties:
        connect_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        fail_timeout:
          description: >-
            The period of time (in milliseconds) the target will be considered
            unavailable after the number of unsuccessful attempts reaches
            `max_fails`.
          type: integer
          default: 10000
          maximum: 2147483646
          minimum: 1
        failover_criteria:
          description: >-
            Specifies in which cases an upstream response should be failover to
            the next target. Each option in the array is equivalent to the
            function of
            https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_next_upstream
          type: array
          items:
            type: string
            enum:
              - error
              - http_403
              - http_404
              - http_429
              - http_500
              - http_502
              - http_503
              - http_504
              - invalid_header
              - non_idempotent
              - timeout
          default:
            - error
            - timeout
        max_fails:
          description: >-
            Number of unsuccessful attempts to communicate with a target that
            should occur in the duration defined by `fail_timeout` before the
            target is considered unavailable. The zero value disables the
            circuit breaker. What is considered an unsuccessful attempt is
            defined by `failover_criteria`. Note the cases of `error`, `timeout`
            and `invalid_header` are always considered unsuccessful attempts,
            while the cases of `http_403` and `http_404` are never considered
            unsuccessful attempts.
          type: integer
          default: 0
          maximum: 32767
          minimum: 0
        read_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        retries:
          description: The number of retries to execute upon failure to proxy.
          type: integer
          default: 5
          maximum: 32767
          minimum: 0
        slots:
          description: The number of slots in the load balancer algorithm.
          type: integer
          default: 10000
          maximum: 65536
          minimum: 10
        write_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        algorithm:
          type: string
          enum:
            - lowest-usage
        tokens_count_strategy:
          description: Methodology to use for token usage calculation.
          type: string
          default: total-tokens
          enum:
            - completion-tokens
            - cost
            - llm-accuracy
            - prompt-tokens
            - total-tokens
      required:
        - algorithm
        - tokens_count_strategy
    AIGatewayModelBalancerPriorityConfig:
      type: object
      properties:
        connect_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        fail_timeout:
          description: >-
            The period of time (in milliseconds) the target will be considered
            unavailable after the number of unsuccessful attempts reaches
            `max_fails`.
          type: integer
          default: 10000
          maximum: 2147483646
          minimum: 1
        failover_criteria:
          description: >-
            Specifies in which cases an upstream response should be failover to
            the next target. Each option in the array is equivalent to the
            function of
            https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_next_upstream
          type: array
          items:
            type: string
            enum:
              - error
              - http_403
              - http_404
              - http_429
              - http_500
              - http_502
              - http_503
              - http_504
              - invalid_header
              - non_idempotent
              - timeout
          default:
            - error
            - timeout
        max_fails:
          description: >-
            Number of unsuccessful attempts to communicate with a target that
            should occur in the duration defined by `fail_timeout` before the
            target is considered unavailable. The zero value disables the
            circuit breaker. What is considered an unsuccessful attempt is
            defined by `failover_criteria`. Note the cases of `error`, `timeout`
            and `invalid_header` are always considered unsuccessful attempts,
            while the cases of `http_403` and `http_404` are never considered
            unsuccessful attempts.
          type: integer
          default: 0
          maximum: 32767
          minimum: 0
        read_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        retries:
          description: The number of retries to execute upon failure to proxy.
          type: integer
          default: 5
          maximum: 32767
          minimum: 0
        slots:
          description: The number of slots in the load balancer algorithm.
          type: integer
          default: 10000
          maximum: 65536
          minimum: 10
        write_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        algorithm:
          type: string
          enum:
            - priority
      required:
        - algorithm
    AIGatewayModelBalancerRoundRobinConfig:
      type: object
      properties:
        connect_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        fail_timeout:
          description: >-
            The period of time (in milliseconds) the target will be considered
            unavailable after the number of unsuccessful attempts reaches
            `max_fails`.
          type: integer
          default: 10000
          maximum: 2147483646
          minimum: 1
        failover_criteria:
          description: >-
            Specifies in which cases an upstream response should be failover to
            the next target. Each option in the array is equivalent to the
            function of
            https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_next_upstream
          type: array
          items:
            type: string
            enum:
              - error
              - http_403
              - http_404
              - http_429
              - http_500
              - http_502
              - http_503
              - http_504
              - invalid_header
              - non_idempotent
              - timeout
          default:
            - error
            - timeout
        max_fails:
          description: >-
            Number of unsuccessful attempts to communicate with a target that
            should occur in the duration defined by `fail_timeout` before the
            target is considered unavailable. The zero value disables the
            circuit breaker. What is considered an unsuccessful attempt is
            defined by `failover_criteria`. Note the cases of `error`, `timeout`
            and `invalid_header` are always considered unsuccessful attempts,
            while the cases of `http_403` and `http_404` are never considered
            unsuccessful attempts.
          type: integer
          default: 0
          maximum: 32767
          minimum: 0
        read_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        retries:
          description: The number of retries to execute upon failure to proxy.
          type: integer
          default: 5
          maximum: 32767
          minimum: 0
        slots:
          description: The number of slots in the load balancer algorithm.
          type: integer
          default: 10000
          maximum: 65536
          minimum: 10
        write_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        algorithm:
          type: string
          enum:
            - round-robin
      required:
        - algorithm
    AIGatewayModelBalancerSemanticConfig:
      type: object
      properties:
        connect_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        fail_timeout:
          description: >-
            The period of time (in milliseconds) the target will be considered
            unavailable after the number of unsuccessful attempts reaches
            `max_fails`.
          type: integer
          default: 10000
          maximum: 2147483646
          minimum: 1
        failover_criteria:
          description: >-
            Specifies in which cases an upstream response should be failover to
            the next target. Each option in the array is equivalent to the
            function of
            https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_next_upstream
          type: array
          items:
            type: string
            enum:
              - error
              - http_403
              - http_404
              - http_429
              - http_500
              - http_502
              - http_503
              - http_504
              - invalid_header
              - non_idempotent
              - timeout
          default:
            - error
            - timeout
        max_fails:
          description: >-
            Number of unsuccessful attempts to communicate with a target that
            should occur in the duration defined by `fail_timeout` before the
            target is considered unavailable. The zero value disables the
            circuit breaker. What is considered an unsuccessful attempt is
            defined by `failover_criteria`. Note the cases of `error`, `timeout`
            and `invalid_header` are always considered unsuccessful attempts,
            while the cases of `http_403` and `http_404` are never considered
            unsuccessful attempts.
          type: integer
          default: 0
          maximum: 32767
          minimum: 0
        read_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        retries:
          description: The number of retries to execute upon failure to proxy.
          type: integer
          default: 5
          maximum: 32767
          minimum: 0
        slots:
          description: The number of slots in the load balancer algorithm.
          type: integer
          default: 10000
          maximum: 65536
          minimum: 10
        write_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        algorithm:
          type: string
          enum:
            - semantic
        embeddings:
          description: Embeddings model configuration for this model.
          type: object
          additionalProperties: false
          properties:
            allow_auth_override:
              description: >
                When enabled, request-level auth parameters (such as API keys or
                bearer tokens) will override the static values defined for the
                provider.
              type: boolean
              default: false
            provider:
              $ref: '#/components/schemas/AIGatewayProviderReference'
            name:
              description: The name of the embeddings model.
              type: string
            config:
              $ref: '#/components/schemas/AIGatewayEmbeddingsModelConfig'
          required:
            - name
            - provider
        vectordb:
          $ref: '#/components/schemas/AIGatewayModelVectorDBConfig'
      required:
        - algorithm
        - embeddings
        - vectordb
    AIGatewayEmbeddingsModelConfig:
      description: Configuration for an embeddings model.
      discriminator:
        propertyName: type
        mapping:
          azure: '#/components/schemas/AIGatewayAzureEmbeddingsModelConfig'
          bedrock: '#/components/schemas/AIGatewayBedrockEmbeddingsModelConfig'
          gemini: '#/components/schemas/AIGatewayGeminiEmbeddingsModelConfig'
          huggingface: '#/components/schemas/AIGatewayHuggingfaceEmbeddingsModelConfig'
      oneOf:
        - $ref: '#/components/schemas/AIGatewayAzureEmbeddingsModelConfig'
        - $ref: '#/components/schemas/AIGatewayBedrockEmbeddingsModelConfig'
        - $ref: '#/components/schemas/AIGatewayGeminiEmbeddingsModelConfig'
        - $ref: '#/components/schemas/AIGatewayHuggingfaceEmbeddingsModelConfig'
    AIGatewayAzureEmbeddingsModelConfig:
      description: Azure-specific configuration for a model.
      type: object
      properties:
        name:
          description: The name of the embeddings model.
          type: string
        upstream_url:
          description: The URL of the embeddings model.
          type: string
        type:
          type: string
          enum:
            - azure
        deployment_id:
          description: The Azure deployment ID for the model.
          type: string
        api_version:
          description: The Azure OpenAI API version to use.
          type: string
          default: '2023-05-15'
      additionalProperties: false
      required:
        - name
        - upstream_url
        - type
    AIGatewayBedrockEmbeddingsModelConfig:
      description: AWS Bedrock-specific configuration for a model.
      type: object
      properties:
        name:
          description: The name of the embeddings model.
          type: string
        upstream_url:
          description: The URL of the embeddings model.
          type: string
        type:
          type: string
          enum:
            - bedrock
        batch_bucket_prefix:
          description: S3 bucket prefix for batch inference jobs.
          type: string
        embeddings_normalize:
          description: Whether to normalize embedding vectors in the response.
          type: boolean
          default: false
        performance_config_latency:
          description: Latency performance configuration for the model invocation.
          type: string
        video_output_s3_uri:
          description: S3 URI for storing video generation outputs.
          type: string
      additionalProperties: false
      required:
        - name
        - upstream_url
        - type
    AIGatewayGeminiEmbeddingsModelConfig:
      description: Google Gemini-specific configuration for a model.
      type: object
      properties:
        name:
          description: The name of the embeddings model.
          type: string
        upstream_url:
          description: The URL of the embeddings model.
          type: string
        type:
          type: string
          enum:
            - gemini
        location_id:
          description: The Google Cloud location ID for the model endpoint.
          type: string
        api_endpoint:
          description: The custom API endpoint for the Gemini model.
          type: string
      additionalProperties: false
      required:
        - name
        - upstream_url
        - type
    AIGatewayHuggingfaceEmbeddingsModelConfig:
      description: Hugging Face-specific configuration for a model.
      type: object
      properties:
        name:
          description: The name of the embeddings model.
          type: string
        upstream_url:
          description: The URL of the embeddings model.
          type: string
        type:
          type: string
          enum:
            - huggingface
        use_cache:
          description: Whether to use the Hugging Face inference cache.
          type: boolean
          default: false
        wait_for_model:
          description: Whether to wait for the model to load if it is not ready.
          type: boolean
          default: false
      additionalProperties: false
      required:
        - name
        - upstream_url
        - type
    AIGatewayModelVectorDBConfig:
      description: Configuration for the vector database used by the model.
      discriminator:
        propertyName: strategy
        mapping:
          pgvector: '#/components/schemas/AIGatewayModelVectorDBConfigPgVector'
          redis: '#/components/schemas/AIGatewayModelVectorDBConfigRedis'
      oneOf:
        - $ref: '#/components/schemas/AIGatewayModelVectorDBConfigPgVector'
        - $ref: '#/components/schemas/AIGatewayModelVectorDBConfigRedis'
    AIGatewayModelVectorDBConfigRedis:
      description: Config for connecting to a Cloud Provider's Redis instance.
      type: object
      properties:
        strategy:
          type: string
          enum:
            - redis
        dimensions:
          description: the desired dimensionality for the vectors
          type: integer
        distance_metric:
          description: the distance metric to use for vector searches
          type: string
          enum:
            - cosine
            - euclidean
        threshold:
          description: >-
            the default similarity threshold for accepting semantic search
            results (float). Higher threshold means more results are considered
            similar.
          type: number
        cloud_authentication:
          description: >-
            Auth related config for connecting to a Cloud Provider's Redis
            instance.
          discriminator:
            propertyName: type
            mapping:
              aws: '#/components/schemas/AIGatewayRedisAWSAuthentication'
              azure: '#/components/schemas/AIGatewayRedisAzureAuthentication'
              gcp: '#/components/schemas/AIGatewayRedisGCPAuthentication'
          oneOf:
            - $ref: '#/components/schemas/AIGatewayRedisAWSAuthentication'
            - $ref: '#/components/schemas/AIGatewayRedisAzureAuthentication'
            - $ref: '#/components/schemas/AIGatewayRedisGCPAuthentication'
        cluster:
          description: Cluster configuration for the Redis connection.
          type: object
          additionalProperties: false
          properties:
            max_redirections:
              description: Maximum retry attempts for redirection.
              type: integer
              default: 5
            nodes:
              description: >-
                Cluster addresses to use for Redis connections when the `redis`
                strategy is defined. Defining this field implies using a Redis
                Cluster. The minimum length of the array is 1 element.
              type: array
              items:
                type: object
                properties:
                  ip:
                    description: 'A string representing a host name, such as example.com.'
                    type: string
                    default: 127.0.0.1
                  port:
                    description: >-
                      An integer representing a port number between 0 and 65535,
                      inclusive.
                    type: integer
                    default: 6379
                    maximum: 65535
                    minimum: 0
              minItems: 1
        connect_timeout:
          description: >-
            An integer representing a timeout in milliseconds. Must be between 0
            and 2^31-2.
          type: integer
          default: 2000
          maximum: 2147483646
          minimum: 0
        connection_is_proxied:
          description: >-
            If the connection to Redis is proxied (e.g. Envoy), set it `true`.
            Set the `host` and `port` to point to the proxy address.
          type: boolean
          default: false
        database:
          description: >-
            Database to use for the Redis connection when using the `redis`
            strategy
          type: integer
          default: 0
        host:
          description: >
            A string representing a host name, such as example.com.

            This field is
            [referenceable](https://developer.konghq.com/gateway/entities/vault/#how-do-i-reference-secrets-stored-in-a-vault).
          type: string
          default: 127.0.0.1
          x-referenceable: true
        keepalive:
          description: Keepalive configuration for the Redis connection.
          type: object
          additionalProperties: false
          properties:
            backlog:
              description: >-
                Limits the total number of opened connections for a pool. If the
                connection pool is full, connection queues above the limit go
                into the backlog queue. If the backlog queue is full, subsequent
                connect operations fail and return `nil`. Queued operations
                (subject to set timeouts) resume once the number of connections
                in the pool is less than `pool_size`. If latency is high or
                throughput is low, try increasing this value. Empirically, this
                value is larger than `pool_size`.
              type: integer
              maximum: 2147483646
              minimum: 0
            pool_size:
              description: >-
                The size limit for every cosocket connection pool associated
                with every remote server, per worker process. If neither
                `pool_size` nor `backlog` is specified, no pool is created. If
                `pool_size` isn't specified but `backlog` is specified, then the
                pool uses the default value. Try to increase (e.g. 512) this
                value if latency is high or throughput is low.
              type: integer
              default: 256
              maximum: 2147483646
              minimum: 1
        password:
          description: >
            Password to use for Redis connections. If undefined, no AUTH
            commands are sent to Redis.

            This field is
            [referenceable](https://developer.konghq.com/gateway/entities/vault/#how-do-i-reference-secrets-stored-in-a-vault).
          type: string
          x-referenceable: true
        port:
          description: >
            An integer representing a port number between 0 and 65535,
            inclusive.

            This field is
            [referenceable](https://developer.konghq.com/gateway/entities/vault/#how-do-i-reference-secrets-stored-in-a-vault).
          type: integer
          default: 6379
          maximum: 65535
          minimum: 0
          x-referenceable: true
        read_timeout:
          description: >-
            An integer representing a timeout in milliseconds. Must be between 0
            and 2^31-2.
          type: integer
          default: 2000
          maximum: 2147483646
          minimum: 0
        send_timeout:
          description: >-
            An integer representing a timeout in milliseconds. Must be between 0
            and 2^31-2.
          type: integer
          default: 2000
          maximum: 2147483646
          minimum: 0
        sentinel:
          description: Configuration for Redis Sentinel.
          type: object
          additionalProperties: false
          properties:
            master:
              description: >-
                Sentinel master to use for Redis connections. Defining this
                value implies using Redis Sentinel.
              type: string
            nodes:
              description: >-
                Sentinel node addresses to use for Redis connections when the
                `redis` strategy is defined. Defining this field implies using a
                Redis Sentinel. The minimum length of the array is 1 element.
              type: array
              items:
                type: object
                properties:
                  host:
                    description: 'A string representing a host name, such as example.com.'
                    type: string
                    default: 127.0.0.1
                  port:
                    description: >-
                      An integer representing a port number between 0 and 65535,
                      inclusive.
                    type: integer
                    default: 6379
                    maximum: 65535
                    minimum: 0
              minItems: 1
            password:
              description: >
                Sentinel password to authenticate with a Redis Sentinel
                instance. If undefined, no AUTH commands are sent to Redis
                Sentinels.

                This field is
                [referenceable](https://developer.konghq.com/gateway/entities/vault/#how-do-i-reference-secrets-stored-in-a-vault).
              type: string
              x-referenceable: true
            role:
              description: >-
                Sentinel role to use for Redis connections when the `redis`
                strategy is defined. Defining this value implies using Redis
                Sentinel.
              type: string
              enum:
                - any
                - master
                - slave
            username:
              description: >
                Sentinel username to authenticate with a Redis Sentinel
                instance. If undefined, ACL authentication won't be performed.
                This requires Redis v6.2.0+.

                This field is
                [referenceable](https://developer.konghq.com/gateway/entities/vault/#how-do-i-reference-secrets-stored-in-a-vault).
              type: string
              x-referenceable: true
        server_name:
          description: >
            A string representing an SNI (server name indication) value for TLS.

            This field is
            [referenceable](https://developer.konghq.com/gateway/entities/vault/#how-do-i-reference-secrets-stored-in-a-vault).
          type: string
          x-referenceable: true
        ssl:
          description: 'If set to true, uses SSL to connect to Redis.'
          type: boolean
          default: true
        ssl_verify:
          description: >-
            If set to true, verifies the validity of the server SSL certificate.
            If setting this parameter, also configure
            `lua_ssl_trusted_certificate` in `kong.conf` to specify the CA (or
            server) certificate used by your Redis server. You may also need to
            configure `lua_ssl_verify_depth` accordingly.
          type: boolean
          default: true
        username:
          description: >
            Username to use for Redis connections. If undefined, ACL
            authentication won't be performed. This requires Redis v6.0.0+. To
            be compatible with Redis v5.x.y, you can set it to `default`.

            This field is
            [referenceable](https://developer.konghq.com/gateway/entities/vault/#how-do-i-reference-secrets-stored-in-a-vault).
          type: string
          x-referenceable: true
      additionalProperties: false
      required:
        - strategy
        - dimensions
        - distance_metric
    AIGatewayModelVectorDBConfigPgVector:
      type: object
      properties:
        strategy:
          type: string
          enum:
            - pgvector
        dimensions:
          description: the desired dimensionality for the vectors
          type: integer
        distance_metric:
          description: the distance metric to use for vector searches
          type: string
          enum:
            - cosine
            - euclidean
        threshold:
          description: >-
[...]
